{% extends "base.html" %}
{% block title %}Spielerübersicht{% endblock %}

{% block content %}


<h1 class="main-header">Planübersicht</h1>
<!-- Liste der Events -->
<ul class="list-group">
  <!-- Schleife über jedes Event, das dem Benutzer zugeordnet ist -->
  {% for event in events %}
  <li class="list-group-item">
    <!-- Anzeigen von Event-Details: Typ, Beschreibung, Zeit und Ort -->
    <h3>{{ event.event_type }}</h3>
    <p>Beschreibung: {{ event.description }}</p>
    <p>Zeit: {{ event.event_time.strftime('%d.%m.%Y %H:%M') }}</p>
    <p>Treffpunkt: {{ event.location }}</p>

    <!-- Logik zur Bestimmung der Farben der Buttons basierend auf der Zusage/Absage -->
    {% set green_class = '' %}
    {% set red_class = '' %}
    {% if event.zusagen | length >0 %}
    {% if event.zusagen[0].status == "zusage"%}
    {% set green_class = "green" %}
    {% else %}
    {% set red_class = "red" %}
    {% endif %}
    {% endif %}

    <!-- Buttons zum Senden einer Zusage oder Absage -->
    <button onclick="sendResponse('{{ event.id }}', 'zusage')" class="{{green_class}}">Zusage</button>
    <button onclick="sendResponse('{{ event.id }}', 'absage')" class="{{red_class}}">Absage</button>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<!-- JavaScript-Funktion zum Senden der Zusage/Absage zum Server -->
<script>
  function sendResponse(eventId, response) {
    fetch('/event-response', {
      method: 'POST',
      body: JSON.stringify({
        event_id: eventId,
        response: response
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(response => {
        if (!response.ok) {
          console.error('Fehler: Netzwerkantwort war nicht ok.');
        } else {
          window.location.reload(true);
        }
      })
  }
</script>
{% endblock %}