{% extends "base.html" %}
{% block title %}Übersicht{% endblock %}

{% block content %}
<h1 class="main-header">Event eintragen</h1>
<ul class="list-group list-group-flush" id="events">
    {% for event in current_user.events %}
    <li class="list-group-item">
        {{ event.event_type }} - {{ event.description }} - {{ event.event_time.strftime('%Y-%m-%d %H:%M') }} - {{
        event.location }}
        <button type="button" class="close" onclick="deleteEvent('{{ event.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

{% if current_user.is_trainer() %}
<form method="POST">
    <div class="mb-5">
        <label for="eventType">Art des Events:</label>
        <select class="form-control" id="eventType" name="event_type">
            <option value="Training">Training</option>
            <option value="Match">Match</option>
        </select>
    </div>

    <div class="mb-5">
        <label for="eventDescription">Beschreibung</label>
        <textarea name="description" class="form-control" id="eventDescription" cols="30" rows="2"></textarea>
    </div>

    <div class="mb-3">
        <label for="eventTime">Zeit:</label>
        <input type="datetime-local" class="form-control" id="eventTime" name="event_time">
    </div>

    <div class="mb-3">
        <label for="location">Treffpunkt:</label>
        <input type="text" class="form-control" id="location" name="location">
    </div>

    <div align="center" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Füge das Event hinzu</button>
    </div>
</form>
{% endif %}


<a href="{{ url_for('views.uebersicht') }}" class="btn btn-info">Zur Planübersicht</a>


{% endblock %}